body {
    text-align: center;
    vertical-align: middle;
    background-color: blue;
}
h1 {
    font-family: Futura
    color: #ffff00;
}
p {
    color: #ffff00;
    font-size: 17px;
    font-weight: normal;
    font-family: Futura;
    text-align: center;
    vertical-align: middle;
    position: relative;
    bottom: 10px;
}

p1 {
    color: #ffff00;
    font-size: 13px;
    font-weight: normal;
    font-family: Futura;
    text-align: center;
    vertical-align: middle;
    position: relative;
    bottom: 10px;
}

p2 {
    color: #ffff00;
    font-size: 13px;
    font-weight: normal;
    font-family: Futura;
    text-align: center;
    vertical-align: middle;
    position: relative;
    bottom: 10px;
}
.special {
    color: orange;
}
a {
color: #ffff00;
text-decoration: none;
}



