body {
    text-align: center;
    vertical-align: middle;
    background-color:#0F0F0F;
}

p1 {
    font-family:Futura;
    color:white;
    font-size: 70px;
    position:fixed;
    left:32%;
    top:11%;
}

p2 {
    font-family:Futura;
    color:white;
    font-size: 70px;
    position: fixed;
    left:48%;
    top:11%;
}

p3 {
    font-family:Futura;
    color:white;
    font-size: 70px;
    position: fixed;
    left:59%;
    top:11%;
}

.sept {
    width:100px;
    height:80%;
    background-color:transparent;
    font-family:Futura;
    font-size: 70px;
    color: white;
    position: fixed;
    left:34%;
    top:20%;
    overflow: scroll;
}


.oct {
    width:100px;
    height:80%;
    background-color:transparent;
    font-family:Futura;
    font-size: 70px;
    color: white;
    position: fixed;
    left:47.5%;
    top:20%;
    overflow: scroll;
}

.nov {
    width:100px;
    height:80%;
    background-color:transparent;
    font-family:Futura;
    font-size: 70px;
    color: white;
    position: fixed;
    left:59.5%;
    top:20%;
    overflow: scroll;
}

.line {
    width:5px;
    height:100%;
    position: fixed;
    left:34.5%;
    top:20%;
    background-color: transparent;
}

.line2 {
    width:5px;
    height:100%;
    position:fixed;
    left:49%;
    top:16%;
    background-color: transparent;
}

.line3 {
    width:5px;
    height:100%;
    position: fixed;
    left:61.5%;
    top:16%;
    background-color: transparent;
}


a {
color:white;
text-decoration:none;
}

a:hover {
    color:#DE1968;
}