px;
    height:900px;
    z-index: -10;
}

#right17 {
    color:pink;
	position: fixed;
	width:0px;
	top:0px;
	border:30px dotted;
    right: 1130px;
    height:900px;
    z-index: -10;
}

#right18 {
    color:pink;
	position: fixed;
	width:0px;
	top:0px;
	border:30px dotted;
    right: 1195px;
    height:900px;
    z-index: -10;
}




.plate {
  width: 700px;
  height: 400px;
  background: white;
  border-radius: 100%;
  position: fixed;
  left: 25%;
  top: 25%;
  box-shadow: 10px 10px 0px #e1e0e0;
  boxshadow: 5px 30px #e1e0e0;
}

.element {
  width: 650px;
  height: 400px;
  background: transparent;
  z-index: 1000;
  border-radius: 100%;
  position: fixed;
  width:100px; height:80px;  
  width:500px; height:150px; 
  left:33%;
  top:35%;
  border:solid 10px grey;
  border-color: #e1e0e0 transparent transparent;
  border-radius: 40%/100;
  border-left-width: thin;
  border-right-width: thin;
  transform: rotate(0deg)
}

.chopstick1 {
    background-color: #b56506;
    height:500px;
    border-top-width: 100px solid #b56506;
	border-left: 1px solid transparent;
	border-right: 10px solid transparent;
	border-bottom-width: 100px solid #b56506;
	border-radius: 20%;
    position: absolute;
    left:70%;
    top:-10%;
    animation-name:chopstick;
    animation-duration: 2s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
    z-index: 1000;
}

.chopstick2 {
    background-color: #b56506;
    height:500px;
    border-top-width: 100px solid #b56506;
	border-left: 1px solid transparent;
	border-right: 10px solid transparent;
	border-bottom-width: 100px solid #b56506;
	border-radius: 20%;
    position: fixed;
    left:70%;
    top:-10%;
    animation-name:chopstick;
    animation-duration: 5s;
    animation-timing-function:linear;
    animation-iteration-count: infinite;
    z-index: 10000;
}

@keyframes chopstick {
    0%, 100% {
        transform: rotate(70deg);
    }
    50% {
        transform: rotate(45deg);
    }
    }