.hello {
    background-color: blue;
    font-size: 20px;
    font-weight: 30px;
    font-family: Futura;
}

.button {
    background-color: red;
    width: 100px;
    height: 100px;
    position: fixed;
    border-radius: 100%;
    font-family: futura;
    bottom:20px;
    left:20px;
    text-align: center;
}