.button {
    background-color: blue;
    height: 200px;
    width: 200px;
    border-radius: 100%;
    transition: all 2s;
    font-family: Arial;
    font-weight: bold;
    font-size: 20px;
    line-height: 200px
    color: white;
    text-align: center;
    line-height: 200px;
}

.button:hover {
    background-color: red;
    width: 300px;
    height: 300px;
    line-height: 300px;
    font-family: "Times New Roman", serif;
    color: white;
}

p {
    font-size:40px;
    line-height: 48px;
    animation-name: example;
    animation-duration: 10s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}


@keyframes example {
    0% {
        color: red;
    }
    50% {
        color:blue;
    }
    100% {
        color: red;
    }
}

body {
    margin:0;
    font-size: 0;
}

.column {
    display: inline-block;
    background-color: yellow;
    height:200px;
    font-size: 40px;
    width:25%;
}


.full {
    background-color: blue;
    height: 200px;
    width:70%;
    margin:0 auto;
    border:100px 10px;
    border-style: solid black;
}

.clock {
    width: 200px;
    height: 200px;
    background-colr: white;
    position: relative;
    animation-name:myclock;
    animation-duration:5s;
    animation-timing-function:linear;
    animation-iteration-count:infinite;
}

.seconds {
    width: 200px;
    height: 4px;
    background-color: black;
    position:absolute;
    top: 98px;
}

@keyframes myclock {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}